Makefile
Makefile.in

*.o
*.a
*.la
*.lo
.libs
.deps

mlv-*.*.*.tar.gz

configure
libtool

Android.mk
MLV.pc

MLV/config.h
MLV/config.h.in
MLV/stamp-h1

aclocal.m4
autom4te.cache/

config.log
config.status
config/compile
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/ltmain.sh
config/m4/libtool.m4
config/m4/ltoptions.m4
config/m4/ltsugar.m4
config/m4/ltversion.m4
config/m4/lt~obsolete.m4
config/missing

doc/Doxyfooter
doc/Doxyheader_English
doc/Doxyheader_French
doc/Doxyheader_Spanish
doc/api/
doc/index.html
doc/main_documentation_doxygen
doc/tp5graph.tex

examples/advanced/01_texts_and_boxes
examples/advanced/02_font
examples/advanced/03_music
examples/advanced/04_sound
examples/advanced/05_playlist
examples/advanced/06_image
examples/advanced/07_transparency
examples/advanced/08_zone_click
examples/advanced/09_animation
examples/advanced/10_read_xml_file
examples/advanced/11_animation_book
examples/advanced/12_paths

examples/beginner/01_hello_world
examples/beginner/02_shapes
examples/beginner/03_random
examples/beginner/04_texts_and_boxes
examples/beginner/05_mouse
examples/beginner/06_keyboard
examples/beginner/07_input_box
examples/beginner/08_mouse_keyboard_timer
examples/beginner/09_colors
examples/beginner/10_library_informations

examples/medium/01_keyboard_events
examples/medium/02_mouse_events
examples/medium/03_input_box_events
examples/medium/04_events
examples/medium/05_exit
examples/medium/06_colors
examples/medium/07_time
examples/medium/08_full_screen
examples/medium/09_keyboard_accents
examples/medium/10_mouse_or_keyboard_access
examples/medium/11_keys_codes
examples/medium/12_desktop_size
examples/sandbox/example.c

packaging/debian/debian/changelog
packaging/debian/debian/control
packaging/debian/debian/copyright
packaging/debian/debian/libmlv.shlibs
packaging/debian/debian/libmlv.symbols
packaging/debian/debian/libmlv0-dev.dirs
packaging/debian/debian/libmlv0-dev.install
packaging/debian/debian/libmlv0.dirs
packaging/debian/debian/libmlv0.install
packaging/debian/debian/libmlv0.postinst
packaging/debian/debian/libmlv0.postrm
packaging/debian/debian/libmlv0.shlibs
packaging/debian/debian/libmlv0.symbols
packaging/debian/script_pkg

packaging/fedora/rpmbuild/SPECS/mlv.spec

packaging/windows/create_canonical_developpement_kit
packaging/windows/create_code_blocks_package
packaging/windows/create_dev_cpp_package
packaging/windows/create_win32_binaries
packaging/windows/cross-compilation/cross_compilation_ubuntu
packaging/windows/cross-compilation/definition_of_environement_variables
packaging/windows/cross-compilation/mlv_compilation_from_scratch_ubuntu
packaging/windows/cross-compilation/mlv_compilation_ubuntu
packaging/windows/my_project.cbp
packaging/windows/my_project.dev
config/ar-lib
